@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My ASP.NET Application!</h1>
    <p>My name is Adarsh Yanamala and my Student ID is 500234722.</p>
</div>
